#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Firewall configuration
firewall --enabled --port=10000:tcp,443:tcp,465:tcp,25:tcp --ssh --smtp --http
# Install OS instead of upgrade
install
# Use CDROM installation media
cdrom
# Network information
network  --bootproto=dhcp --device=eth0 --onboot=on
# System authorization information
auth  --useshadow  --passalgo=sha512
# Use graphical install
graphical
firstboot --disable
# Use interactive kickstart installation method
interactive
# System keyboard
keyboard us
# System language
lang en_US
# SELinux configuration
selinux --enforcing
# Installation logging level
logging --level=info

# System timezone
timezone  America/New_York
# System bootloader configuration
bootloader --location=mbr

%post --nochroot
	/usr/bin/rsync -avr /mnt/runtime/emda/* /mnt/sysimage/
%end
